{% extends "base.html" %}
{% block title %}cars{% endblock %}
{% block head %}
{{ super() }}

<style type="text/css">
	.important {
		color: #336699;
	}
</style>
{% endblock %}
{% block content %}
<div class="list">
	<h2 class="red-text text-lighten-2">Please select a carmaker to view models in that carmaker</h2>
	<div class="collection">
		{% for cat in carmakers %}
		<a href="/carmaker/{{ cat.id }}" class="red-text text-lighten-2 collection-item">{{ cat.name}}</a>
		
		{% endfor %}
	</div>
	<a class="red lighten-2 waves-effect waves-light btn-large" href='/carmaker/new'>Create New Carmaker</a>
</div>
{% endblock %}