{% extends "base.html" %}
{% block title %} models {% endblock %}
{% block head %}
{{ super() }}

<style type="text/css">
	.important {
		color: #336699;
	}
</style>
{% endblock %}
{% block content %}

<div class="list">
	{% if id %}
	<h2>{{ carmaker_name }}</h2>
	{% else %}
	<h1>All Models</h1>
	{% endif %}
	<div class="collection">
		{% for model in models %}
		<a href='/model/{{ model.id }}' class="red-text lighten-2 collection-item">{{ model.name}}</a>
		{% endfor %}
	</div>
	<div class="input-field col s12">
		<select onChange="window.location.href=this.value">
			<option value="" disabled selected>Choose your option</option>
			<option value="/model/new">Create New Model</option>
			{% if id and owner %}
			<option value="/carmaker/update_{{ id }}">Update Carmaker</option>
			<option value="/carmaker/delete_{{ id }}">Delete Carmaker</option>
			{% endif %}
		</select>
		<label>Materialize Select</label>
	</div>
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var elems = document.querySelectorAll('select');
		options = ('a', 'b	');
		var instances = M.FormSelect.init(elems, options);
		console.log(instances[0]);

	});
</script>

{% endblock %}