{% extends "base.html" %}
{% block title %} models {% endblock %}
{% block head %}
{{ super() }}

<style type="text/css">
	.important {
		color: #336699;
	}
</style>
{% endblock %}
{% block content %}
	<div class="list">
	{% if id %}
	<h2>{{ carmaker_name }}</h2>
	{% else %}
	<h1>All Models</h1>
	{% endif %}
	<div class="collection">
	{% for model in models %}
	<a href='/model/{{ model.id }}' class="red-text lighten-2 collection-item">{{ model.name}}</a>
	{% endfor %}
</div>
	</br>
	<a class="red lighten-2 btn waves-effect waves-light" href='/model/new'>Create New Model</a>
	
	{% if id and owner %}
	</br>
	<a href='/carmaker/update_{{ id }}'>Update Carmaker</a>
	</br>
	<a href='/carmaker/delete_{{ id }}'>Delete Carmaker</a>
	{% endif %}
	</div>


{% endblock %}
