{% extends "base.html" %}
{% block title %}New Car maker{% endblock %}
{% block head %}
  {{ super() }}
  
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	  	<div class="flashes">
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
		</div>
	  {% endif %}
	{% endwith %}

	<div class="form">
	<form action="{{ url_for('NewCarmaker') }}" method= "POST">
		<p>Name:</p>
		<input type="text" name="name" size='30' required>
		</br></br>
		<button class="red lighten-2 btn waves-effect waves-light" type="submit" name="action">Create
				<i class="material-icons right"></i>
		</button>

	</form>
	</div>
	{% endblock %}
